:root {

  /*colors*/
  --dark-100: #000000;

 
  --dark-600: #dfdfdf;
  --dark-700: #f5f5f5;

  --light-100: #ffffff;

  --accent-100: #5a77ff;
  --accent-200: #bc7198;
  --accent-300: #ffc593;
  
  --accent-100: #5a77ff;


  /*font-family*/
  --ff-sans: 'DM Sans', sans-serif;
  

  --spacer: 1rem;
  
  
  /* small screen font-sizes - 16px is base font-size */
  
  --fs-300: 0.75rem; /*12px*/
  --fs-350: 0.813rem; /*13px author*/
  --fs-400: 0.938rem;/*15px same on all sizes*/
  --fs-500: 1rem;/*px*/
  --fs-600: 1.125rem; /*px*/
  --fs-700: 1.5rem;/*24px/h2 medium*/
  --fs-900: 2rem;/*h1/h2 large*/

  --fw-regular-400: 400;
  --fw-bold-700: 700;

  --clr-neutral-100: #ffffff;/*bg*/
  --clr-neutral-700: #171717;/*title*/
  --clr-neutral-800: #333333; /*txt*/
  --clr-accent: #59E89C;

  --br-100: 1rem;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}


@media (min-width: 40em) {/*tablet*/
  :root {


    --fs-900: 2.5rem;/*same for desktop*/

    
    
  }
}
@media (min-width: 40em) {
  :root {
    
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}



/*
h1,
.h1,
h2,
.h2, 
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}*/

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  
  display: block;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular-400);
  line-height: 1.6;
  
}


/* typography */

.large-heading {/*for h1/h2 large*/
  font-size: var(--fs-900);
  font-weight: var(--fw-bold-700);
  letter-spacing: 3.33px;
  line-height: 1.28;
  text-transform: uppercase;
}

.medium-heading {/*h2 - same for all*/
  font-size: var(--fs-700);
  font-weight: var(--fw-bold-700);
  letter-spacing: 3; /*25px*/
}

.small-heading {
  font-size: var(--fs-600);
  line-height: 1;
}

.small-headingxl {
  font-size: var(--fs-300);/*same for all*/
  letter-spacing: 2px;
  /*text-transform: uppercase;*/
}





a:hover,
a:focus {
  color: ;
}

@media (min-width: 35em) {

  .large-heading {
    letter-spacing: 4.17px;
   
  }
}

@media (min-width: 48em) {/*48em is tablet*/

    
}

@media (min-width: 90em) {
  .large-heading {
   
  }
}

/* utility/helper classes */



.bg-dark {
  background-color: var(--dark-100);
  color: var(--light-100);
  
}

.bg-grey {
  background-color: var(--dark-700);
  color: var(--dark-100);
}

.bg-light {
  background-color: var(--light-100);
  color: var(--dark-100);
}

.btn {
  display: inline-block;
  font-size: var(--fs-300);
  border: 0;
  font-weight: var(--fw-700);
  line-height: 1.125;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5em 1em;
}

.arrow-btn-light {
  color: var(--light-100);
  font-size: var(--fs-300);/*12px*/
  font-weight: var(--fw-bold-700);
  letter-spacing: 2px;
}

.arrow-btn-dark {
  color: var(--dark-100);
  font-size: var(--fs-300);/*12px*/
  font-weight: var(--fw-bold-700);
  letter-spacing: 2px;
}





.btn-dark {
  background-color: var(--dark-100);
  color: var(--light-100);

}


.btn-dark:hover,
.btn-dark:focus {
  background-color: var(--dark-600);
  color: var(--dark-100);
}


.btn-light {
  background-color: var(--light-100);
  color: var(--dark-100);

}

.btn-light:hover,
.btn-light:focus {
  background-color: var(--dark-600);
  color: var(--dark-100);

}

.author {
  font-size: var(--fs-350);
  color: var(--light-100);
}

/* general layout classes */

.main-grid {
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(0px, 35rem) minmax(1.5rem, 1fr);
}

.main-grid > * {
  grid-column: 2;
}

section {
  padding: 
}





.flow > *:not(:first-child) {
  margin-top: 1.5rem;
}

.flow-xs {
  margin-top: .6rem;
}

.flow-content > * + * {
  margin-top: 1.25rem;
}

.flow-content-large {
  margin-top: 3rem;
}




.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split > * + * {
  margin: 4rem 0 0 0;
}

.split > * {
  flex-basis: 100%;
}

.xl-space {
  margin-top: 5rem !important;
}




@media (min-width: 40em) {
 

  .split {
    flex-direction: row;
  }
}

@media (min-width: 48em) {
  
}

@media (min-width: 90em) {
  
  
  

  .main-grid {
    grid-template-columns: minmax(1.5rem, 1fr) minmax(0px, 100rem) minmax(1.5rem, 1fr);
    
  }
}

/* components */


/*************/
/*Sections*/
/*************/

/*Header*/

/*menu in mobile and tables*/

.header .header-desktop {
  display: none;
}

@media (min-width: 40em) {
  .header .header-mobile {
    display: none;
  }

  .header .header-desktop {
    display: block;
  }

 
}


/*Hero*/

.hero {
  grid-template-areas:
    "create create create"
    "beautiful beautiful beautiful"
    "designed designed designed";
}


.create {
  grid-area: create;
  display: flex;
  flex-direction: column-reverse;
}

.create-info {
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(0px, 32rem) minmax(1.5rem, 1fr);
}

.create-info > * {
  grid-column: 2;
}

.beautiful {
  grid-area: beautiful;
  display: flex;
  flex-direction: column-reverse;
}

.beautiful-info {
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(0px, 32rem) minmax(1.5rem, 1fr);
}

.beautiful-info > * {
  grid-column: 2;
}

.designed {
  grid-area: designed;
  display: flex;
  flex-direction: column-reverse;
  
}

.designed-info {
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(0px, 32rem) minmax(1.5rem, 1fr);
}

.designed-info > * {
  grid-column: 2;
}

.home-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.arrow-btn-container {
  display: flex;
  text-transform: uppercase;
  column-gap: 2em;
  
}

.margin-text {
  margin: 2rem 0;
}

.padding-hero {
  padding: 5rem 2rem;
}



.light-arrow {
  
  /*filter: invert(0.5); either works*/
  filter:  brightness(0) invert(1);
}



@media (min-width: 48em) {

  /*hero*/
  .create {
    flex-direction: row;
  }

  .beautiful {
    flex-direction: row-reverse;
  }

  .designed {
    flex-direction: row;
  }

  .create-info,
  .beautiful-info,
  .designed-info {
    flex-basis: 70%;
  }

  .create-img-container,
  .beautiful-img-container,
  .designed-img-container {
    flex-basis: 30%;
  }

  .home-img {
    height: 100%;
  }

  

  .padding-hero {
    padding: 10rem 4rem;
  }
  
}

@media (min-width: 90em) {
  
  /*nb hero only*/
  .main-grid {
    grid-template-columns: minmax(1.5rem, 1fr) minmax(0px, 50rem) minmax(0px, 50rem) minmax(1.5rem, 1fr);
  }

  .main-grid > * {
    grid-column: 2 / 4;
    justify-items: center;
    align-items: center;
  }

  .margin-text {
    margin: 3rem 0;
  }

  
  .create-info {
    flex-basis: 40%;
    
  }

  .create-img-container {
    flex-basis: 60%;
    align-self: stretch;
  }

  .beautiful-info {
    flex-basis: 40%;
  }

  .beautiful-img-container {
    flex-basis: 60%;
    align-self: stretch;
  }

  .designed-info {
    flex-basis: 40%;
  }
  .designed-img-container {
    flex-basis: 60%;
    align-self: stretch;
  }
  
  
  

}




/*Stories-links*/

.background-img {
  width: 100%;
  
  object-fit: cover;
  filter: brightness(70%);
  
}

.stories-links > * {
  grid-column: 1 / -1;
}

.stories-links-gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.story {
  position: relative;
  justify-self: stretch;
}

.overlay {
  position: absolute;
  bottom: 40px;
  left: 1.5rem;
  width: 100%;
}

.overlay-details {
  
  color: var(--light-100);
}

.author {
  border-bottom: 1px solid var(--light-100);
  width: 80%;
  padding-bottom: 1em;
  opacity: 0.5;
}

.stories-links .arrow-btn-container {
  width: 80%;
  justify-content: space-between;
}





@media (min-width: 48em) {

  .stories-links-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .story {
    
  }
  
  
}


@media (min-width: 90em) {

  .stories-links > * {
    grid-column: 2 / 4;
  }
  .stories-links-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
  }

  .story {
    
  }
}







