:root {

  /*colors*/
  --dark-100: #000000;

 
  --dark-600: #dfdfdf;
  --dark-700: #f5f5f5;

  --grey-100: #979797;
  --grey-200: #e0dcdc;

  --light-100: #ffffff;

  --accent-100: #5a77ff;
  --accent-200: #bc7198;
  --accent-300: #ffc593;
  
  

  /*font-family*/
  --ff-sans: 'DM Sans', sans-serif;
  

  --spacer: 1rem;
  
  
  /* small screen font-sizes - 16px is base font-size */
  
  --fs-300: 0.75rem; /*12px*/
  --fs-350: 0.813rem; /*13px author*/
  --fs-400: 0.938rem;/*15px same on all sizes*/
  --fs-500: 1rem;/*px*/
  --fs-600: 1.125rem; /*px*/
  --fs-700: 1.5rem;/*24px/h2 medium*/
  --fs-900: 2rem;/*h1/h2 large*/
  --fs-950: 2.5rem;/*price*/

  --fw-regular-400: 400;
  --fw-bold-700: 700;

  /*--clr-neutral-100: #ffffff;/*bg
  --clr-neutral-700: #171717;/*title
  --clr-neutral-800: #333333; /*txt
  --clr-accent: #59E89C;*/

  --br-100: 1rem;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}


@media (min-width: 40em) {/*tablet*/
  :root {
    --fs-900: 2.5rem;/*same for desktop*/
  }
}


/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular-400);
  line-height: 1.6;
}

body, html {
  overflow-x: hidden;
}


/* typography */

.large-heading {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold-700);
  letter-spacing: 3.33px;
  line-height: 1.28;
  text-transform: uppercase;
}

.medium-heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold-700);
  letter-spacing: 3; 
}

.small-heading {
  font-size: var(--fs-600);
  line-height: 1;
}

.small-headingxl {
  font-size: var(--fs-300);
  letter-spacing: 2px;
  
}


@media (min-width: 35em) {

  .large-heading {
    letter-spacing: 4.17px;
  }
}

@media (min-width: 48em) {

}

@media (min-width: 90em) {
  
}

/* utility/helper classes */

.light {
  color: var(--light-100);
}


.bg-dark {
  background-color: var(--dark-100);
  color: var(--light-100);
}

.bg-grey {
  background-color: var(--dark-700);
  color: var(--dark-100);
}

.bg-light {
  background-color: var(--light-100);
  color: var(--dark-100);
}

.btn {
  display: inline-block;
  font-size: var(--fs-300);
  border: 0;
  font-weight: var(--fw-700);
  line-height: 1.125;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 3em;
}

.arrow-btn-light {
  color: var(--light-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold-700);
  letter-spacing: 2px;
}

.arrow-btn-light:hover,
.arrow-btn-light:focus {
  border-bottom: 1px solid rgba(175, 172, 172, 0.3);
}

.arrow-btn-dark {
  color: var(--dark-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold-700);
  letter-spacing: 2px;
}

.arrow-btn-dark:hover,
.arrow-btn-dark:focus {
  border-bottom: 1px solid rgba(175, 172, 172, 0.3);
}

.btn-dark {
  background-color: var(--dark-100);
  color: var(--light-100);
  transition: color .3s ease-in-out,
  background-color .3s ease;
}

.btn-dark:hover,
.btn-dark:focus {
  background-color: var(--dark-600);
  color: var(--dark-100);
  font-weight: var(--fw-bold-700);
}

.btn-light {
  background-color: var(--light-100);
  color: var(--dark-100);
}

.btn-light:hover,
.btn-light:focus {
  background-color: var(--dark-600);
  color: var(--dark-100);
}

.author {
  font-size: var(--fs-350);
  color: var(--light-100);
}

/* general layout classes */

.container {
  max-width: 160rem;/*160rem*/
  margin: 0 auto;
}


.flow > *:not(:first-child) {
  margin-top: 1.5rem;
}

.flow-middle > *:not(:first-child)  {
  margin-top: 1.2rem;
}

.flow-xs {
  margin-top: .6rem;
}

.flow-xsdown {
  margin-bottom: .6rem;
}

/*.flow-content > * + * {
  margin-top: 1.25rem;
}

.flow-content-large {
  margin-top: 3rem;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split > * + * {
  margin: 4rem 0 0 0;
}

.split > * {
  flex-basis: 100%;
}

.xl-space {
  margin-top: 5rem !important;
}*/


/* components */


/*************/
/*Sections*/
/*************/

/*Header*/

/*menu in mobile*/

body {
  padding-top: 5rem;
}


.header .header-desktop {
  display: none;
}


/*menu mobile*/

.header .header-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--light-100);
  z-index: 90;
}

.logo {
  padding: 2rem 0 2rem 1.8rem;
}

.navigation-inner {
  display: none;
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.open {
  border: 0;
  background: none;
  cursor: pointer;
  position: relative;
  transition: all .5s ease-in-out;
}

.open, .close {
  padding: 2rem 1.8rem 2rem 0;
}

.close {
  border: 0;
  background: none;
  display: none;
}

.dropdown  {
  display: block;
}

.dropdown-menu {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 30vh;
  background-color: var(--light-100);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1em;
  display: none;/*hidden by default*/
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  width: 100%;
}

.header .nav-item:hover,
.header .nav-item:focus {
  color: var(--grey-100);
}

.nav-item {
  color: var(--dark-100);
  text-transform: uppercase;
  font-size: var(--fs-350);
  font-weight: var(--fw-bold-700);
  letter-spacing: 2.5px;
}

.invite {
  text-align: center;
  width: 100%;
  margin: 1em auto 0 auto;
  position: relative;
  letter-spacing: 3px;
}

.dropdown-list .btn {
  padding: 1em 0;
}

.invite::before {
  content: "";
  border: 1px solid rgba(175, 172, 172, 0.3);
  width: 100%;
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
}


@media (min-width: 48em) {

  /*header*/

  body {
    padding-top: 0;
  }

  .header .header-mobile {
    display: none;
  }

  .header .header-desktop {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.8rem 3rem;
  }

  .header-desktop .header-nav {
    display: flex;
    gap: 2em;
  }

  .header-desktop .logo-desktop,
  .header-desktop .btn-desktop {
    flex: 1;
  }

  .btn-desktop {
    text-align: right;
  }
  
}

@media (min-width: 90em) {

  .header .header-desktop {
    padding: 0 10rem 0 10rem;
  }
}


/*Hero*/


.home-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.arrow-btn-container {
  display: flex;
  text-transform: uppercase;
  column-gap: 2em;
}

.margin-text {
  margin: 2rem 0;
}

.padding-hero {
  padding: 4rem 2rem;
}

.light-arrow {
  filter:  brightness(0) invert(1);
}


@media (min-width: 48em) {

  /*hero*/

  .home-img {
    height: 100%;
    object-position: center center;
  }

  .padding-hero {
    padding: 5rem 3rem;
  }
}

@media (min-width: 80rem) {
  .padding-hero {
    padding: 7rem 5rem;
  }
}

/*Stories-links*/

.background-img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.stories-links-gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.story {
  position: relative;
  justify-self: stretch;
 
}

.story:hover,
.story:focus {
  transform: translateY(-20px);
  border: 0px solid;
  border-bottom: none;
  position: relative;
  
}
.story:hover::after,
.story:focus::after {
  content:"";
  background: -webkit-linear-gradient(90deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 50%, rgba(90,119,255,1) 89%);
  display: block;
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.overlay {
  position: absolute;
  bottom: 40px;
  left: 2rem;
  width: 100%;
}

.overlay-details {
  color: var(--light-100);
}

.author {
  border-bottom: 1px solid  rgba(226, 221, 221, 0.3);
  width: 80%;
  padding-bottom: 1em;
}

.stories-links .arrow-btn-container {
  width: 80%;
  justify-content: space-between;
}


@media (min-width: 48em) {

  .stories-links-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .overlay {
    left: 3rem;
  }
}




@media (min-width: 90em) {

  .stories-links > * {
    grid-column: 2 / 4;
  }
  .stories-links-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .overlay {
    left: 5rem;
  }
}

/*app-details*/

.app-details {
 margin: 5rem 0;
}

.app-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5em 0;
  flex-basis: 100%;
  row-gap: 2em;
}

.app-details-container {
  
  display: flex;
  flex-direction: column;
  gap: 1.8em;
} 
 
.app-detail .flow {
  margin-top: 1.3rem;
}

.app-details-text {
  text-align: center;
  padding: 0 2em;
}

@media (min-width: 48em) {
  
  .app-details-text {
    padding: 0 10em;
  }
}

@media (min-width: 90em) {

  .app-details-container {
   flex-direction: row;
    justify-content: center;
  }
  
  .app-detail {
   flex-basis: 33%;
  }  
  
  .upload {
    align-self: stretch;
  }

  .upload .app-details-text {
    margin-top: auto;
  }

  .app-details-text {
    padding: 0 4em;
  }
}


/* Footer */

.footer {
  background-color: var(--dark-100);
}

.footer .logo {
  grid-area: logo;
}

.footer .logo-img {
  margin-right: 2.3em;
}

.footer-content {
  color: var(--light-100);
  padding: 2rem 1.8rem 0 1.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 2fr;
  gap: 3em;
}

.social {
  display: flex;
  gap: 1em;
  grid-area: social;
  align-content: center;
  margin-top: 0;
}

.social-item {
  cursor: pointer;
  transition: all 3s ease-in-out;
}

.social-item:nth-child(1):hover {
  background: rgb(99,175,219);
  background: radial-gradient(circle, rgba(99,175,219,1) 0%, rgba(96,40,241,1) 37%);
}

.social-item:nth-child(2):hover {
  background: rgb(211,32,90);
  background: radial-gradient(circle, rgba(211,32,90,1) 0%, rgba(255,90,90,1) 37%);
}
.social-item:nth-child(3):hover {
  background: rgb(101,255,235);
  background: linear-gradient(90deg, rgba(101,255,235,1) 0%, rgba(39,113,138,1) 50%);
}

.social-item:nth-child(4):hover {
  background: rgb(246,198,131);
  background: radial-gradient(circle, rgba(246,198,131,1) 0%, rgba(222,56,56,1) 37%);
}

.social-item:nth-child(5):hover {
  background: rgb(97,91,233);
  background: radial-gradient(circle, rgba(97,91,233,1) 0%, rgba(188,113,152,1) 37%, rgba(90,119,255,1) 100%);
}

.social-item svg:hover {
  background-color: var(--dark-100);
}

.footer-nav {
  grid-area: footer-nav;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-nav .nav-item {
  color: var(--light-100);
  transition: color 1s ease;
}

.footer-nav .nav-item:hover,
.footer-nav .nav-item:focus {
  color: var(--grey-100);
}

.footer-details {
  display: grid;
  grid-template-areas: 
    "logo"
    "social"
    "footer-nav";
  justify-items: center;
}

.footer-other {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
   "invite-btn"
   "copy";
  justify-items: center;
}

.footer-invite {
  display: flex;
  gap: .5em;
  align-items: center;
  grid-area: invite-btn;
}

.footer-link {
  color: var(--light-100);
  transition: color 1s ease-in-out;
  
}

.footer-link:hover,
.footer-link:focus {
  color: rgba(175, 172, 172, 0.3);
  font-weight: var(--fw-bold-700);
}


.copy {
  grid-area: copy;
  opacity: 0.5;
  font-size: var(--fs-350);
}

@media (min-width: 48em) {

  .footer-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12rem;
    column-gap: 2em;
    padding: 4rem 3rem;
  }

  .footer-details {
    grid-column: 1;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
      "logo"
      "footer-nav"
      "social";
    row-gap: 2em;
    justify-items: start;
  }

  .footer-nav {
    flex-direction: row;
    margin: 0;
  }

  .footer .logo {
    align-self: start;
    padding: 0;
  }

  .footer-link:hover,
  .footer-link:focus {
    border-bottom: 1px solid rgba(175, 172, 172, 0.3);
  }

  .social {
    align-self: end;
  }

  .footer-other {
    grid-column: 2;
    justify-items: end;
  }

  .footer-invite {
    align-self: start;
    gap: 2em;
  }

  .footer-invite .btn {
    padding: 0;
  }

  .copy {
    align-self: end;
  }
}

@media (min-width: 80em) {

  .footer-content {
    padding: 4rem 10rem;
  }

  .footer-details {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "logo footer-nav"
      ". footer-nav"
      "social footer-nav";
    column-gap: 1em;
  }

  .footer-nav {
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  .footer-nav .nav-item {
    margin: 0;
  }

  .social {
    align-self: end;
    margin: 0;
  }

  .copy {
    align-self: end;
  }
}

/* PAGE SPECIFIC */

/*All extra pages hover states - disabled in header and footer

.stories .header .nav-item:hover,
.stories .header .nav-item:focus,
.features .header .nav-item:hover, 
.features .header .nav-item:focus {
  pointer-events: none;
}

.stories .header .btn-desktop:hover,
.stories .header .btn-desktop:focus,
.features .header .btn-desktop:hover,
.features .header .btn-desktop:focus {
  pointer-events: none;
}

.stories .footer .nav-item:hover,
.stories .footer .nav-item:focus, 
.features .footer .nav-item:hover,
.features .footer .nav-item:focus {
  pointer-events: none;
}

.stories .footer .social-link:hover,
.stories .footer .social-link:focus, 
.features .footer .social-link:hover,
.features .footer .social-link:focus {
  pointer-events: none;
}

.stories .footer .footer-link:hover,
.stories .footer .footer-link:focus, 
.features .footer .footer-link:hover,
.features .footer .footer-link:focus {
  pointer-events: none;
}*/

/*********************/
/** STORIES
/*********************/

/*Stories-hero*/

/*.header .header-mobile {
  display: none;
}*/

.stories-hero-content {
  padding: 3rem 2rem;
}

.stories-hero-img {
  object-fit: cover;
  filter: brightness(60%);
}

.bold-name {
  font-weight: var(--fw-bold-700);
}

.stories-hero .stories-hero-large {
  display: none;
}

.stories-hero .arrow-btn-light {
  text-transform: uppercase;
}

@media (min-width: 48em) {

  .stories-hero-large {
    background: url(./assets/stories/tablet/moon-of-appalacia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem 0 10rem 0;
    background-position: center;
    filter: brightness(80%);
  }

  .stories-hero-large .filter  {
    filter: brightness(70%);
  }

  .stories-hero-content {
    max-width: 24rem;
    margin: 0 2rem;
  }

  .stories-hero .stories-hero-large {
    display: block;
  }
  
  .stories-hero .stories-hero-mobile {
    display: none;
  }
}

@media (min-width: 75em) {

  .stories-hero-large {
    background: url(./assets/stories/desktop/moon-of-appalacia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem 0 10rem 0;
    background-position: center;
    min-height: 100vh;
  }

  .stories-hero-content {
    max-width: 28rem;
  }
}

@media (min-width: 90em) {

  .stories-hero-content {
    padding: 0 0 0 5em;
  }
}
  
/* Stories-gallery*/

.date {
  font-size: var(--fs-350);
  color: var(--light-100);
}

.stories-gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.stories-gallery .background-img {
  align-self: stretch;
}

.story .arrow-btn-container {
  width: 80%;
  justify-content: space-between;
}


/*********************/
/** HOMEPAGE/FEATURES/PRICING HERO
/*********************/

.pages-hero .pages-hero-tablet,
.pages-hero .pages-hero-desktop {
  display: none;
}

.pages-hero-mobile {
  display: flex;
  flex-direction: column-reverse;
}

.pages-hero-mobile .create {
  position: relative;
}

.pages-hero-mobile .create::after {
  content: "";
  position: absolute;
  background: rgb(255,197,147);
  background: linear-gradient(45deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 51.95%, rgba(90,119,255,1) 100%);
  height: 0.375rem;
  width: 30%;
  left: 20px;
  top: 0;
  display: block;
}

/*homepage hero only*/

.home .pages-hero .pages-hero-img-container {
  order: 3;
}

/* features details */

.features-details-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.features-details-container .app-details-text {
  padding-left: 0;
  padding-right: 0;
}

/* features beta/pricing beta*/

.pages-beta {
  background-image: url(./assets/shared/mobile/bg-beta.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0 2rem 0;
  position: relative;
}

.pages-beta::after {
  content: "";
  position: absolute;
  width: 8rem;
  height:  0.375rem;;
  background: rgb(255,197,147);
  background: linear-gradient(45deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 51.95%, rgba(90,119,255,1) 100%);
  left: 2rem;
  top: 0;
  
}

/*
}*/

@media (min-width: 48em) {

  /*homepage hero only*/

  .home .pages-hero .beautiful {
    order: -3;
  }

  .home .pages-hero .beautiful {
    order: -3;
  }

  /*homepage/features/pricing hero*/
  .pages-hero .pages-hero-mobile {
    display: none;
  }

  .pages-hero .pages-hero-tablet {
    display: flex;
    flex-direction: row;
  }

  .pages-hero-tablet .pages-hero-info {
    flex-basis: 70%;
  }
  .pages-hero-tablet .pages-hero-img-container {
    flex-basis: 30%;
  }

  .pages-hero-tablet .pages-hero-info {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pages-hero-tablet .margin-text {
    max-width: 42ch;
  }

  .pages-hero-tablet .create {
    position: relative;
  }
  
  .pages-hero-tablet .create::after {
    content: "";
    position: absolute;
    width: 0.375rem;
    height: 9rem;
    background: rgb(255,197,147);
    background: linear-gradient(45deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 51.95%, rgba(90,119,255,1) 100%);
    left: 0;
  }
  
  
  /*features details*/
  .features-details-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 2em;
  }

  .features-details-container .upload img {
    padding-bottom: 2em;
  }

  .features-details-container .app-details-text {
    padding: 0em 0em;
  }

  /*features/pricing beta*/
  .pages .pages-beta  {
    background-image: url(./assets/shared/tablet/bg-beta.jpg);
    padding: 0rem 0rem;
  }

  .pages-beta-container {
    display: flex;
    justify-content: space-between;
  }

  .pages-beta .large-heading {
    max-width: 16ch;
  }

  .pages-beta .arrow-btn-container {
    align-self: center;
    margin: 0;
  }

  .pages-beta {
    background-image: url(./assets/shared/mobile/bg-beta.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 2rem 0;
    position: relative;
  }
  
  .pages-beta::after {
    content: "";
    position: absolute;
    width: 0.375rem;
    height: 100%;
    background: rgb(255,197,147);
    background: linear-gradient(45deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 51.95%, rgba(90,119,255,1) 100%);
    left: 0;
    top: 0;
    bottom: 0;
  }
}

@media (min-width: 70em) {

  /*features/pricing hero*/
  .pages-hero .pages-hero-mobile,
  .pages-hero .pages-hero-tablet {
    display: none;
  }

  .pages-hero .pages-hero-desktop {
    display: flex;
    flex-direction: row;
  }

  .pages-hero-desktop .pages-hero-info {
    flex-basis: 40%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pages-hero-desktop .create {
    position: relative;
  }
  
  .pages-hero-desktop .create::after {
    content: "";
    position: absolute;
    width: 0.375rem;
    height: 9rem;
    background: rgb(255,197,147);
    background: linear-gradient(45deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 51.95%, rgba(90,119,255,1) 100%);
    left: 0;
  }
  

  .pages-hero-desktop .margin-text {
    max-width: 42ch;
  }

  .pages-hero-desktop .pages-hero-img-container {
    flex-basis: 60%;
  }

  /*features details*/
  .features-details-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5em;
  }

  .features-details .padding-hero {
    padding: 7rem 5em;
  }

  .features-details .app-details-text {
    max-width: 38ch;
  }

  /*features/pricing beta*/
  .pages .pages-beta {
    background-image: url(./assets/shared/desktop/bg-beta.jpg);
    padding: 0;
  }

  .pages-beta-container {
    justify-content: space-between;
  }

  .pages-beta .padding-hero {
    padding: 4rem 10rem;
  }
}


/*********************/
/** PRICING
/*********************/

/*the switch*/

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

.switch-heading {
  font-size: var(--fs-600);
  line-height: 2.5;
  font-weight: var(--fw-regular-400);
}


/* The switch - the box around the slider */

.pricing-plans-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-200);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 16px;
  border-radius: 16px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 4px;
  bottom: 4px;
  background-color: var(--dark-100);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.regular {
  font-weight: var(--fw-regular-400);
}

.change {
  font-weight: bold;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: var(--light-100);
}

input:checked + .slider {
  background-color: var(--dark-100);
}

input:checked + .slider:before .switch-heading {
  font-weight: var(--fw-bold-700);
}



/*plan*/

.plans-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}

.plan {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
  text-align: center;
  padding: 4rem 2rem;
}

/*pro-rectangle mobile*/
.pro {
  position: relative;
}

.pro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.375rem;
  background: rgb(255,197,147);
  background: linear-gradient(45deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 51.95%, rgba(90,119,255,1) 100%);
  left: 0;
  top: 0;
  right: 0;
}

.price {
  font-size: var(--fs-950);
  font-weight: var(--fw-bold-700);
  line-height: 1;
  letter-spacing: 4.17px;
}

.plan .btn {
  width: 80%;
  justify-self: center;
}

/*compare*/

.compare-headings p {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold-700);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.compare-p, 
.features-h {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold-700);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tick {
  background-image: url(./assets/pricing/desktop/check.svg);
  background-repeat: no-repeat;
  height: 0.75rem;
}

.pricing-compare-container-large {
  display: none;
}

.pricing-compare-container-mobile {
  display: grid;
  grid-template-columns: 1fr;
}

.features-h {
  border-bottom: 1px solid var(--dark-100);
  padding-bottom: 1em;
}

.col {
  display: flex;
  flex-direction: column;
}

.tick-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-100);
  padding-bottom: 1em;
}

.basic-container {
  display: flex;
  flex-direction: column;
  gap: .2em;
}

.pricing-compare .padding-hero {
  padding-top: 0;
}

@media (min-width: 48em) {

  /*plans*/

  .plan {
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
  }

  .plan-info {
    text-align: left;
  }

  .plan .btn {
    width: 100%;
    justify-self: left;
  }

  .plan-price {
    text-align: right;
  }

  /*pro-rectangle tablet*/

  .pro {
    position: relative;
  }

  .pro::after {
    content: "";
    position: absolute;
    width: 0.375rem;
    height: 100%;
    background: rgb(255,197,147);
    background: linear-gradient(45deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 51.95%, rgba(90,119,255,1) 100%);
    left: 0;
    top: 0;
    right: 0;
  }


  /*compare*/

  .pricing-compare-container-mobile {
    display: none;
  }

  .pricing-compare-container-large {
    display: block;
  }

  .pricing-compare-container-large {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: 4em;
  }

  .pricing-compare-container-large .large-heading {
    grid-column: 1;
    justify-self: center;
    font-weight: var(--fw-bold-700);
  }

  .compare-headings {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 0;
    border-bottom: 1px solid var(--dark-100);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .pricing-compare-container-large .compare-headings .features-h {
    border-bottom: 0;
    justify-self: left;
    margin-left: 3em;
  }

  .pricing-compare-container-large .row-1 { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 1px solid var(--dark-600);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .pricing-compare-container-large .row-2 { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 1px solid var(--dark-600);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .pricing-compare-container-large .row-3 { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 1px solid var(--dark-600);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .pricing-compare-container-large .row-4 { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 1px solid var(--dark-600);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .pricing-compare-container-large .row-5 { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 1px solid var(--dark-600);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .pricing-compare-container-large .row-6 { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 1px solid var(--dark-600);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .pricing-compare-container-large .row-7 { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 1px solid var(--dark-600);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .pricing-compare-container-large .row-8 { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1;
    border-bottom: 1px solid var(--dark-600);
    padding-bottom: 1em;
    border-width: 100%;
    justify-items: center;
  }

  .compare-p {
    justify-self: left;
    margin-left: 3em;
  }

}

@media (min-width: 80em) {

  /*plans*/

  .pro .plan-info {
    padding: 4rem 0 2rem 0;
  }

  .plan-info p {
    max-width: 30ch;
   margin: 0 auto;
  }

  .plan .btn {
    width: 80%;
    margin: 0 auto;
  }

  .pricing-plans-container {
    grid-template-areas: 
      "toggle toggle toggle"
      "plans plans plans";
    row-gap: 2.5em;
  }

  .plans-container {
    grid-area: plans;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
     ". pro ."
      "basic pro business"
      ". pro .";
    column-gap: 2em;
  }

  .toggle {
    grid-area: toggle;
    justify-self: center;
    gap: 1.5em;
  }

  /*pro-rectangle desktop*/

  .pro {
    grid-area: pro;
    position: relative;
  }

  .pro::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.375rem;
    background: rgb(255,197,147);
    background: linear-gradient(45deg, rgba(255,197,147,1) 0%, rgba(188,113,152,1) 51.95%, rgba(90,119,255,1) 100%);
    left: 0;
    top: 0;
    right: 0;
  }

  .basic {
    grid-area: basic;
  }

  .business {
    grid-area: business;
  }

  .plan {
    grid-template-columns: 1fr;
    row-gap: 2em;
    padding: 4rem 2rem;
  }

  .plan-info,
  .plan .plan-price {
    text-align: center;
  }

  .plan-price {
    display: grid;
    align-items: center;
  }

  .pro .pro-btn {
    padding: 1em 0;
    align-self: center;
  }

  .pricing-plans .padding-hero {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  /*compare*/

  .pricing-compare .padding-hero {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}





















